__pycache__
.git
.idea
.ipynb_checkpoints
# -------------------------------------------------------------------------------------------------------------------- #
_.py
*.jpg
*.png
*.csv
*.pt
*.onnx
*.trt
# -------------------------------------------------------------------------------------------------------------------- #